@tailwind base;
@tailwind components;
@tailwind utilities;

.fertile-day {
  background-color: rgba(255, 64, 129, 0.1);
}

.ovulation-day {
  background-color: rgba(255, 64, 129, 0.3);
  font-weight: 500;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}